<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 加载部部样式及META信息 -->
    <title>首页</title>
    <div th:replace="common/meta"></div>
</head>
<body class="hold-transition skin-green sidebar-mini fixed {if $config.fastadmin.multiplenav}multiplenav{/if}" id="tabs">
<div class="wrapper">

    <!-- 头部区域 -->
    <header id="header" class="main-header"  th:include="common/header" />

    <!-- 左侧菜单栏 -->
    <aside class="main-sidebar"  th:include="common/menu" />

    <!-- 主体内容区域 -->
    <div class="content-wrapper tab-content tab-addtabs" />

    <!-- 底部链接,默认隐藏 -->
    <footer class="main-footer hide">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2017-2018 <a href="https://www.fastadmin.net">Fastadmin</a>.</strong> All rights reserved.
    </footer>

    <!-- 右侧控制栏 -->
    <div class="control-sidebar-bg"></div>

    <div th:replace="common/control"></div>
</div>

<!-- 加载JS脚本 -->
<div th:replace="common/script"></div>
</body>
</html>